body {
    background: #f3f5f7;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    font-family: "MCW XX", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.container-agreemant, .main-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.main-container {
    max-width: 500px;
}


.immun-page {
    max-width: 1270px;
    margin: 0 auto 60px;
}

.white_bg_status {
    background: #fff;
    margin-top: 28px;
    padding: 10px 20px 40px;
    margin-bottom: 32px;
}

.centered {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.content-container {
    max-width: 900px;
}

.status-container {
    /*     width: 100%; */
    padding: 22px 30px;
    background-color: #13a14f;
    border-radius: 16px;
    text-align: center;
}

.status-value {
    display: inline-block;
    padding: 6px 36px;
    background: #fff;
    border-radius: 16px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.status-param {
    margin-bottom: 6px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}
